.button {
  min-width: 60px;
  height: 48px;
  background-color: var(--primary-color);
  color: var(--on-primary);
}

.button:disabled {
  background-color: var(--gray-2);
}

.left {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.right {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}
