.background-primary {
  background-color: var(--primary-color);
}

.background-black {
  background-color: var(--black-color);
}

.background-transparent {
  background: transparent;
}

.text-white {
  color: var(--white-color);
}
