.rooms-wrapper {
  height: calc(100vh - 80px);
  justify-content: center;
  text-align: center;
}

.rooms-container {
  align-items: center;
  overflow-x: scroll;
  flex-direction: row;
}

.room-container {
  margin: 0 auto;
  align-items: center;
  word-wrap: break-word;
}

.room-image {
  border-radius: 50%;
}

.room-facility {
  width: 300px;
}

.rooms-container::-webkit-scrollbar {
  width: 1em;
  height: 10px;
}

.rooms-container::-webkit-scrollbar-track {
  background: #96bf0f98;
}

.rooms-container::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 20px;
  border: 1px solid #96bf0f88;
}
