.pb-4 {
  padding-bottom: 16px;
}

.pt-4 {
  padding-top: 16px;
}

.p-2 {
  padding: 8px;
}

.p-4 {
  padding: 16px;
}

.m-4 {
  margin: 16px;
}

.mt-4 {
  margin-top: 16px;
}

.my-4 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.mb-4 {
  margin-bottom: 16px;
}

.gap-2 {
  gap: 8px;
}

.gap-6 {
  gap: 24px;
}
