*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --primary-color: #97bf0f;
  --secondary-color: #ffb400;
  --on-primary: #fafcfb;
  --text-color: #212121;
  --light-gray-1: #d3d3d3;
  --light-gray-2: #c1c1c1;
  --gray: #e2e3e5;
  --gray-2: #efefef;
  --brand-color: #474747;
}

.brand {
  font-family: 'Lobster', cursive;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input[type="button"],
input[type="submit"] {
  cursor: pointer;
  border: none;
  box-shadow: none;
  user-select: none;
}

div,
nav,
header,
section,
footer {
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

#root {
  min-height: 100vh;
  flex-grow: 1;
}
